@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700,300,600,800);

html,
body {
  height: 100%;
}
body {
  color: #222;
  background: #fff;
  font: 14px "Open Sans";
  margin: 0;
  overflow-x: hidden;
}
a:hover {
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
}
h1 {
  font: 300 40px "Open Sans";
  margin: 0;
}
h1,
h2,
h3 {
  margin-top: 0;
}
p {
  margin: 1em 0;
}
p,
li {
  line-height: 1.6;
}
pre {
  background: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 970px;
  padding: 0 30px;
}
.btn {
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 3px;
  color: #aaa;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 8px 16px;
  text-transform: uppercase;
  -webkit-transition: background .1s, color .1s;
  transition: background .1s, color .1s;
  word-spacing: 3px;
}
.btn:hover {
  border-color: #aaa;
  color: #666;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.btn-red {
  background: #df4848;
  border: 2px solid #df4848;
  color: #fff;
}
.btn-red:hover {
  background: #ce2424;
  border: 2px solid #ce2424;
  color: #fff;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.btn-big {
  font-size: 12px;
  font-weight: 600;
  padding: 12px 24px;
}
.button {
  background-color: #ececec;
  background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  border-radius: 3px;
  border: none;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  color: #333;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  outline: 0;
  padding: 8px 20px;
  text-align: center;
}
.button:hover {
  border-color: #ccc;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
}
.post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.stats h4 {
  line-height: 62px;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.float-right {
  float: right;
}
.atss {
  top: 15% !important;
}
.atss .at-share-close-control {
  display: none !important;
}
#wrap {
  height: 100%;
  overflow: hidden;
}
#viewport {
  min-height: 100%;
  width: 100%;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#sidebar {
  background: #f2f2f2;
  bottom: 0;
  left: -225px;
  position: absolute;
  padding-top: 19px;
  top: 0;
  width: 225px;
}
#sidebar a {
  display: block;
  color: #000;
  font: 600 15px "Open Sans";
  padding: 15px 30px;
}
#sidebar a + a {
  border-top: 1px solid #e3e3e3;
}
#nav {
  background: #fff18f;
  font: 600 15px "Open Sans";
  overflow: hidden;
}
#nav button {
  margin-left: 10px;
}
#nav a {
  display: inline-block;
  color: #000;
  padding: 25px 15px;
}
#nav a:hover {
  color: #ce2424;
  text-decoration: none;
    -webkit-transition: all .25s;
    transition: all .25s;
}
#nav .lt {
  display: none;
  position: absolute;
  left: 10px;
  margin-top: -2px;
  outline: none;
  z-index: 2;
}
#nav .col-sm-3 {
  padding-left: 0;
}
#nav .col-sm-9 {
  text-align: right;
  padding-right: 0;
}
#nav #sidebar-toggle {
  display: none;
  position: absolute;
  outline: 0;
  margin-left: -20px;
  text-decoration: none;
  top: 1px;
}
#nav #logo {
  color: #000;
  font: 700 16px Ubuntu;
  margin-right: 20px;
  padding: 10px 0;
}
#header {
  background: #f9f9f9;
  padding: 50px 0 50px;
}
#header.yellow {
  background: #fff18f;
}
#header.promo {
  padding: 80px 0 120px;
  text-align: center;
}
#header.promo p {
  font-size: 15px;
  max-width: 520px;
  margin: 25px auto;
}
#header .btn {
  margin-top: 10px;
}
#start {
  background: #f9f9f9;
  padding: 60px 0;
}
#start .feature {
  text-align: center;
}
#start .feature h2 {
  font-weight: 300;
}
#start .feature img {
  margin-bottom: 20px;
  opacity: .3;
}
#start .feature .btn {
  margin-top: 10px;
}
#twitter {
  padding: 40px 0;
}
#search:before {
  color: #ccc;
  content: "\f002";
  cursor: text;
  font: 24px FontAwesome;
  position: absolute;
  top: 74px;
  right: 34px;
}
#search input {
  border: 1px solid #ddd;
  border-radius: 2px;
  font-size: 20px;
  margin-top: 20px;
  padding: 16px 20px;
  outline: 0;
  width: 100%;
}
#docs section {
  margin-top: 60px;
}
#docs h2 {
  margin-bottom: 30px;
  line-height: 1.2;
}
#docs .desc {
  color: #aaa;
  display: block;
  font-size: 12px;
  margin-top: 8px;
}
#docs .item {
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 2px;
  color: #666;
  display: block;
  min-height: 20px;
  margin-bottom: 30px;
  padding: 20px;
}
#docs .item:hover {
  color: #000;
  text-decoration: none;
  -webkit-transition: all .25s;
  transition: all .25s;
}
#getting-started {
  margin-top: 20px;
}
#getting-started h2 {
  margin-top: 40px;
}
#getting-started section + section {
  margin-top: 60px;
}
#stats {
  margin-top: 20px;
}
#stats h4 {
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 10px 0;
}
#stats .counter {
  background: rgba(0, 0, 0, 0.04);
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
}
#schema {
  margin-top: 40px;
  font-size: 13px;
}
#schema hr {
  border-top: 1px solid #000;
  position: absolute;
  margin: 0;
  margin-top: 8px;
}
#schema pre {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0 10px;
  overflow: hidden;
}
#schema pre span {
  color: #bbb;
}
#schema .header {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 2px;
  color: #666;
  padding: 14px 18px;
  line-height: 19px;
  text-transform: uppercase;
  font-size: 12px;
}
#schema .version {
  color: #ccc;
}
#schema .schema {
  padding-top: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 0 0 2px 2px;
  padding-bottom: 10px;
}
#schema .integration p {
  margin-top: 0;
  margin-bottom: .5em;
}
#schema .row div[class^="col-sm-"] {
  margin-bottom: 30px;
}
#themes {
  margin-top: 40px;
}
#themes .theme {
  /*background: #f9f9f9;*/
  border: 1px solid #ddd;
  border-radius: 2px;
  color: #000;
  margin-bottom: 30px;
  padding: 20px;
}
#themes .theme img {
  max-width: 100%;
  margin: 0 auto !important;
  display: block;
}
#themes .theme img:hover {
  border-color: #ccc;
  -webkit-transition: all .25s;
  transition: all .25s;
}
#themes .theme .name {
  margin-top: 10px;
}
#themes .theme .btn {
  display: block;
  margin-top: 20px;
  text-align: center;
}
#themes
#themes .meta {
  margin-top: 10px;
  line-height: 1.4;
}
#themes .meta .name {
  font-size: 18px;
  font-weight: 700;
}
#themes .meta .rating {
  margin-top: 5px;
  font-size: 12px;
  letter-spacing: 1px;
}
#blog h2 {
  margin-top: 10px;
}
#blog article {
  margin-top: 40px;
}
#blog header {
  margin-bottom: 1.5em;
}
#blog .date {
  color: #999;
  margin-top: 5px;
}
#team {
  margin-top: 40px;
}
#team .contributing {
  margin-bottom: 40px;
}
#team .tile {
  background: #f9f9f9;
  border: 1px solid #eee;
  border-radius: 2px;
  color: #666;
  display: block;
  font-size: 13px;
  min-height: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 20px;
}
#team .avatar {
  border-radius: 2px;
  float: left;
  margin-right: 16px;
}
#team .person {
  overflow: hidden;
  margin-bottom: 16px;
}
#team .person .name {
  margin: 5px 0 3px;
}
#team .person a {
  color: #999;
  font-size: 13px;
}
#team .person a + a {
  margin-left: 6px;
}
#team .person a:hover,
#team .person a:hover:before {
  color: #d14;
  -webkit-transition: all .25s;
  transition: all .25s;
}
#team .person .github:before {
  color: #ccc;
  font: 14px FontAwesome;
  content: "\f09b";
  margin-right: 6px;
}
#team .person .twitter:before {
  color: #ddd;
  font: 14px FontAwesome;
  content: "\f099";
  margin-right: 6px;
}
#footer {
  color: #bbb;
  font-size: 11px;
  line-height: 1em;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: inherit;
  text-decoration: none;
}
#footer a:hover {
  color: #000;
  -webkit-transition: all .25s;
  transition: all .25s;
}

@media (max-width: 991px) {
  #nav a {
    padding: 25px 10px;
  }
}
@media (max-width: 767px) {
  #nav .lt {
    display: block;
  }
  #viewport.open {
    -webkit-transform: translate3d(225px, 0, 0);
            transform: translate3d(225px, 0, 0);
  }
  #nav {
    text-align: center;
  }
  #nav .col-sm-3 {
    padding-left: 15px;
  }
  #header.promo {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  #start .feature {
    margin: 0 auto;
    max-width: 314px;
  }
  #start .feature + .feature {
    margin-top: 50px;
  }
}
