---
layout: default
title: Projects
---

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Community Projects</h1>
      </div>
    </div>
  </div>
</header>
<div id="team" class="container">
  <div class="row">
    <div class="col-sm-12 contributing">
      <p>
        JSON Resume was built to inspire a new creative movement around resumes.
        This page will showcase some of those ideas…
      </p>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'hosting' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>

      <h3>Import / Export</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'transfer' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>

      <h3>Github</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'github' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>

      <h3>Editors</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'editor' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>CLI</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category == 'cli'
        %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>Frameworks</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'framework' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>Visualizations</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'visualization' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>

      <h3>Generators</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'generator' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>Parsers</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'parser' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>Validators</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category ==
        'validator' %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
      <h3>Machine Learning</h3>
      <ul>
        {% for project in site.data.projects %} {% if project.category == 'ml'
        %}
        <li>
          <a href="{{project.link}}">{{project.name}}</a> -
          {{project.description}}
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</div>
