---
layout: default
title: Team
---

<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Meet the Team</h1>
      </div>
    </div>
  </div>
</header>
<div id="team" class="container">
  <div class="row">
    <div class="col-sm-6 contributing">
      <h2>Contributing</h2>
      <p>The entire project is open sourced and split up amongst a number of modules which are hosted on GitHub. There are many areas of the project that need work:</p>
      <ul>
        <li>We need everyone to start making themes</li>
        <li>People who can offer advice on the standard</li>
        <li>The standard should be able to export to any format under the sun</li>
      </ul>
      <p>
        All the code for the project can be found here:<br>
        <a href="https://github.com/jsonresume">https://github.com/jsonresume</a>
      </p>
    </div>
    <div class="col-sm-6 team">
      <h2>The Team</h2>
      <p>There are many contributors to JSON Resume, but these are our regular members who keep the show running:</p>
      <section>
        <h3>Core Team</h3>
        <div class="row">
          {% for member in site.data.team.core-team %}
          <div class="col-lg-6 person">
            <img class="avatar" src="{{member.avatar}}" alt="Avatar of {{member.name}}." width="50" height="50">
            <div class="name">{{member.name}}</div>
            <a class="github" href="https://github.com/{{member.github}}">GitHub</a>
            {% if member.twitter %}
            <a class="twitter" href="https://twitter.com/{{member.twitter}}">Twitter</a>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </section>
      <section>
        <h3>Standards Committee</h3>
        <div class="row">
          {% for member in site.data.team.standards-committee %}
          <div class="col-lg-6 person">
            <img class="avatar" src="{{member.avatar}}" alt="Avatar of {{member.name}}." width="50" height="50">
            <div class="name">{{member.name}}</div>
            <a class="github" href="https://github.com/{{member.github}}">GitHub</a>
          </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>
