---
layout: default
title: Themes
---

<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Themes</h1>
			</div>
		</div>
	</div>
</header>
<div id="themes" class="container">
	<div class="row">
		{% for theme in site.data.themes %}
		<div class="col-sm-4 col-md-3">
			<div class="theme">
				<div class="row">
					<div class="col-sm-12 col-xs-6">
						<a href="http://themes.jsonresume.org/theme/{{ theme.slug }}">
							<img style="height: 129px;" src="/img/themes/{{ theme.slug }}.jpeg">
							<!-- http://api.screenshotmachine.com/?key=afd4d4&size=N&url=http://themes.jsonresume.org/theme/{{ theme.slug }} -->
						</a>
					</div>
					<div class="col-sm-12 col-xs-6 meta">
						<div class="name">{{ theme.name }}</div>
						<div class="author">by <a href="{{theme.link}}" target="_blank">{{ theme.author }}</a></div>
						<!--<div class="rating">4.6/5</div>-->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href="http://themes.jsonresume.org/theme/{{ theme.slug }}" class="button">Preview</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<hr />
	<h2>Monthly Competition - $250 prize</h2>
	<p>Thanks to <a href="https://hired.com" target="_blank">Hired.com</a>, we are now hosting monthly competitions where the author of the most voted theme gets $250. We hope to encourage the community to build and update their own themes. Scroll to the bottom of the page to find more details about how to get started with your own theme.</p>
	<div class="row">
	<div class="col-md-5">
	<h3>Rules</h3>
	<ul>
		<li>You can only submit one vote per theme</li>
		<li>Themes that win the monthly prize are excluded for the next 4 months</li>
		<li>You can enter the competition at any time of the month</li>
		<li>Votes are tallied on the last day of the month</li>
		<li>Payments can be made over Paypal or Bitcoin (Let us know if you need another method)</li>
	</ul>
	</div>
	<div class="col-md-7">
	<h3>November Leaderboard</h3>
	<table class="leaderboard table table-striped">
		<thead>
			<th>Rank</th>
			<th>Theme</th>
			<th>Hashtag</th>
			<th>Votes</th>
			<th></th>
		</thead>
		<tbody>
		</tbody>
	</table>
	</div>
	</div>
	<div class="clear: both;"></div>
	<div class="row">
	<hr />
	<div style="text-align: center;" class="">
		<a href="https://hired.com" target="_blank"><img style="width: 150px; border-radius: 3px; border: 1px solid #ccc;" src="https://dmrxx81gnj0ct.cloudfront.net/assets/hired-square-b21c3bb015f0de89a42ecdbb8f2a994a.png" /></a>
		<h2 style="margin-top: 4px;">Sponsored by <a href="https://hired.com" target="_blank">Hired.com</a></h2>
		<p>Hired connects talented technical job seekers like you with top tech companies---everything from large public companies to early stage startups. Join to get transparent, upfront job offers and find an opportunity you love. </p>
		</div>
		</div>
	<hr />
	<h2>Want to develop your own?</h2>
	<p>Our theming system was released just recently and new themes have already started popping up. If you would like to develop a theme for the community please visit the <a href="http://github.com/jsonresume/theme-manager">theme-manager repo</a>.</p>
<h3>Getting started</h3>
<p>If you are using the registry to host your resume, you can easily test different themes by appending a query string e.g.</p>
<a href="http://registry.jsonresume.org/thomasdavis?theme=flat">http://registry.jsonresume.org/thomasdavis?theme=flat</a>
<p>Or you can set the default theme for your resume on the registry by using the <code>--theme</code> option in the CLI tool e.g.</p>
<code>resume publish --theme flat</code>
</div>

<script>
  var themes = {
		{% for theme in site.data.themes %}
			"{{theme.slug}}": {
				"name": "{{theme.name}}",
				"slug": "{{theme.slug}}",
				"author": "{{theme.author}}",
				"author_link": "{{theme.link}}"
			},
		{% endfor %}
		thiscodesucks: null
  } 
</script>
