---
layout: default
title: Themes
---

<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Resume Themes</h1>
			</div>
		</div>
	</div>
</header>
<div id="themes" class="container">
	<div class="row">
		{% for theme in site.data.themes %}
		<div class="col-sm-4 col-md-3">
			<div class="theme">
				<div class="row">
					<div class="col-sm-12 col-xs-6">
						<a href="http://themes.jsonresume.org/theme/{{ theme.slug }}">
							<img style="height: 129px;" src="http://api.screenshotmachine.com/?key=afd4d4&size=N&url=http://themes.jsonresume.org/theme/{{ theme.slug }}">
						</a>
					</div>
					<div class="col-sm-12 col-xs-6 meta">
						<div class="name">{{ theme.name }}</div>
						<div class="author">by <a href="{{theme.link}}" target="_blank">{{ theme.author }}</a></div>
						<!--<div class="rating">4.6/5</div>-->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href="http://themes.jsonresume.org/theme/{{ theme.slug }}" class="button">Preview</a>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<hr />
	<h2>Competition Leaderboard</h2>
	<p>For November</p>
	<table class="leaderboard table table-striped">
		<thead>
			<th>Rank</th>
			<th>Theme</th>
			<th>Author</th>
			<th>Hashtag</th>
			<th>Votes</th>
			<th></th>
		</thead>
		<tbody>
			<tr>
				<td>1</td><td>Golden</td><td>Thomas Davis</td><td>#golden</td><td>130</td><td><a>Tweet your vote</a></td></tr>
		</tbody>
	</table>
	<hr />
	<h2>Want to develop your own?</h2>
	<p>Our theming system was released just recently and new themes have already started popping up. If you would like to develop a theme for the community please visit the <a href="http://github.com/jsonresume/theme-manager">theme-manager repo</a>.</p>
<h3>Getting started</h3>
<p>If you are using the registry to host your resume, you can easily test different themes by appending a query string e.g.</p>
<a href="http://registry.jsonresume.org/thomasdavis?theme=flat">http://registry.jsonresume.org/thomasdavis?theme=flat</a>
<p>Or you can set the default theme for your resume on the registry by using the <code>--theme</code> option in the CLI tool e.g.</p>
<code>resume publish --theme flat</code>
</div>

<script>
  var themes = {
		{% for theme in site.data.themes %}
			"{{theme.slug}}": {
				"name": "{{theme.name}}",
				"slug": "{{theme.slug}}",
				"author": "{{theme.author}}",
				"author_link": "{{theme.link}}"
			},
		{% endfor %}
		thiscodesucks: null
  } 
</script>