<div id="schema">
	<div class="header">
		<div class="pull-right version">version 0.0.0</div>
		resume.json
	</div>
	<pre>
{
  "basics": {
    "name": "",
    "label": "",
    "picture": "",
    "email": "",
    "phone": "",
    "website": "",
    "summary": "",
    "location": {
      "address": "",
      "postalCode": "",
      "city": "",
      "countryCode": "",
      "region": ""
    },
    "profiles": [{
      "network": "",
      "username": "",
      "url": ""
    }]
  },
  "work": [{
    "company": "",
    "position": "",
    "website": "",
    "startDate": "",
    "endDate": "",
    "summary": "",
    "highlights": [
		""
    ]
  }],
  "volunteer": [{
    "organization": "",
    "position": "",
    "website": "",
    "startDate": "",
    "endDate": "",
    "summary": "",
    "highlights": [
      ""
    ]
  }],
  "education": [{
    "institution": "",
    "area": "",
    "studyType": "",
    "startDate": "",
    "endDate": "",
    "gpa": "",
    "courses": [
      ""
    ]
  }],
  "awards": [{
    "title": "",
    "date": "",
    "awarder": "",
    "summary": ""
  }],
  "publications": [{
    "name": "",
    "publisher": "",
    "releaseDate": "",
    "website": "",
    "summary": ""
  }],
  "skills": [{
    "name": "",
    "level": "",
    "keywords": [
      ""
    ]
  }],
  "languages": [{
    "language": "",
    "fluency": ""
  }],
  "interests": [{
    "name": "",
    "keywords": [
      ""
    ]
  }],
  "references": [{
    "name": "",
    "reference": ""
  }]
}
	</pre>
</div>
