html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
	font-family: 'Ubuntu';
	font-size: 16px;
}
body .navbar-brand {
	padding: 0;
}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
}
.post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2 {
	font-size: 30px;
	border-bottom: 4px solid $brand-color;
	display: inline-block;
	white-space: pre-line;
	clear: both;
	padding: 0 20px 5px 0;
}
h3 {
	border-bottom: 2px solid $brand-color;
	display: inline-block;
	white-space: pre-line;
	clear: both;
	padding: 0 20px 5px 0;
}
.counter {
	font-size: 40px;
	color: $brand-color;
	display: inline-block;
	border-radius: 5px;
	background-color: #2b2a27;
	padding: 10px 20px;
}