html {
	overflow-y: scroll;
}
body {
	padding-top: 60px;
	font-family: 'Ubuntu';
	font-size: 16px;
}
body .navbar-brand {
	padding: 0;
}
.navbar-default .navbar-nav > li > a {
	font-size: 16px;
}
.post-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

h2 {
	font-size: 30px;
	border-bottom: 4px solid $brand-color;
	display: inline-block;
	white-space: pre-line;
	clear: both;
	padding: 0 20px 5px 0;
}
h3 {
	border-bottom: 2px solid $brand-color;
	display: inline-block;
	white-space: pre-line;
	clear: both;
	padding: 0 20px 5px 0;
}
.stats h4 {
	line-height: 62px;
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.counter {
	font-size: 30px;
	color: $brand-color;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	background-color: #2b2a27;
	padding: 10px 20px;
}

.json-schema {
  background-color: #222;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 20px 0;
  .property {
    font-family: Verdana;
    padding: 1px 20px;
  }
  .type {} .name {
    color: $brand-color;
  }
  .description {
    font-size: 11px;
    color: #7a7267;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
