---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}</p>
  </header>

<div class="row">
<div class="col-md-8">
  <article class="post-content">
  {{ content }}
  </article>
  <p>By <a href="http://registry.jsonresume.org/thomasdavis">{{page.author}}</a></p>
<hr />
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<div class="addthis_jumbo_share"></div>
<hr />
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jsonresume'; // required: replace example with your forum shortname
        var disqus_url = 'http://jsonresume.org{{page.url}}';
        var disqus_identifier = '{{page.url}}';
        var disqus_title = '{{page.title}}';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
</div>
<div class="col-md-4">
<a class="twitter-timeline" href="https://twitter.com/jsonresume" data-widget-id="494812472109322240">Tweets by @jsonresume</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</div>


</div>
</div>